:root
{
    --p1: #f44336;
    --p2: #ff5722;
    --p3: #ff9800;
    --p4: #ffeb3b;
    --p5: #4caf50;
    --p6: #00bcd4;
    --p7: #2196f3;
    --p8: #673ab7;
    --p9: #9c27b0;

    --p1_1: #ef9a9a;
    --p2_1: #ffab91;
    --p3_1: #ffcc80;
    --p4_1: #fff59d;
    --p5_1: #a5d6a7;
    --p6_1: #80deea;
    --p7_1: #90caf9;
    --p8_1: #b39ddb;
    --p9_1: #ce93d8;
}

body
{
    font-family: 'Times New Roman', Times, serif;

    /* margin-left: 20px; */

    color: antiquewhite;
    background-color: #263238;
}

#title
{
    font-size: 32pt;
    font-weight: normal;

    margin-top: 50px;
    margin-bottom: 45px;

    text-align: center;
}

#back
{
    margin-top: 50px;

    text-align: center;
    vertical-align: middle;
}
#back > a
{
    font-size: 13pt;

    color: antiquewhite;
}
#back > a:hover
{
    opacity: 0.7;
}

#back-icon
{
    font-size: 15pt;
    margin-right:3px;
}

.periodic_table
{
    width: 1350px;
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;

    table-layout: fixed;
    border-collapse: collapse;

    border-left: solid 3px antiquewhite;
    border-right: solid 3px antiquewhite;
}

.periodic_table th,
.periodic_table td
{
    padding: 15px 3px;

    cursor: pointer;
    text-align: center;

    border: solid 1px antiquewhite;
    user-select: none;
}

.periodic_table th
{
    border-top: solid 3px antiquewhite;
}
.periodic_table td[data-y='9']
{
    border-bottom: solid 3px antiquewhite;
}

.Symbol
{
    font-size: 16pt;

    margin-right: 6px;
    margin-left: 1px;
}

.AtomicNumber
{
    font-size: 9pt;
}

.Element
{
    font-size: 8pt;
}

.periodic_table tr :hover
{
    background-color: #37474f;
}

.rainbow_0[data-y='1']
{
    color: var(--p1);
    border-color: var(--p1);
}
.rainbow_0[data-y='2']
{
    color: var(--p2);
    border-color: var(--p2);
}
.rainbow_0[data-y='3']
{
    color: var(--p3);
    border-color: var(--p3);
}
.rainbow_0[data-y='4']
{
    color: var(--p4);
    border-color: var(--p4);
}
.rainbow_0[data-y='5']
{
    color: var(--p5);
    border-color: var(--p5);
}
.rainbow_0[data-y='6']
{
    color: var(--p6);
    border-color: var(--p6);
}
.rainbow_0[data-y='7']
{
    color: var(--p7);
    border-color: var(--p7);
}
.rainbow_0[data-y='8']
{
    color: var(--p8);
    border-color: var(--p8);
}
.rainbow_0[data-y='9']
{
    color: var(--p9);
    border-color: var(--p9);
}

.rainbow_1[data-y='1']
{
    color: var(--p1_1);
    border-color: var(--p1_1);
}
.rainbow_1[data-y='2']
{
    color: var(--p2_1);
    border-color: var(--p2_1);
}
.rainbow_1[data-y='3']
{
    color: var(--p3_1);
    border-color: var(--p3_1);
}
.rainbow_1[data-y='4']
{
    color: var(--p4_1);
    border-color: var(--p4_1);
}
.rainbow_1[data-y='5']
{
    color: var(--p5_1);
    border-color: var(--p5_1);
}
.rainbow_1[data-y='6']
{
    color: var(--p6_1);
    border-color: var(--p6_1);
}
.rainbow_1[data-y='7']
{
    color: var(--p7_1);
    border-color: var(--p7_1);
}
.rainbow_1[data-y='8']
{
    color: var(--p8_1);
    border-color: var(--p8_1);
}
.rainbow_1[data-y='9']
{
    color: var(--p9_1);
    border-color: var(--p9_1);
}
