body
{
    font-family: 'Times New Roman', Times, serif;

    color: antiquewhite;
    background-color: #37474f;
}

table
{
    table-layout: fixed;
    border-collapse: collapse;
    width: 1700px;
}

th,
td
{
    font-size: 18pt;
    /* width: 1000px; */
    /* height: 100px; */

    padding: 10px;

    border: solid 1px;
    /* border-radius: 5px; */
    cursor : pointer;
}

tr :hover
{
    background-color: #455a64;
}

.AtomicNumber
{
    font-size: 11pt;
}

.Element
{
    /* text-align: center; */
    font-size: 11pt;
}

.splash
{
    background-color: aquamarine;
}