:root
{
    --p1: #f44336;
    --p2: #ff5722;
    --p3: #ff9800;
    --p4: #ffeb3b;
    --p5: #4caf50;
    --p6: #00bcd4;
    --p7: #2196f3;
    --p8: #673ab7;
    --p9: #9c27b0;

    --p1_1: #ef9a9a;
    --p2_1: #ffab91;
    --p3_1: #ffcc80;
    --p4_1: #fff59d;
    --p5_1: #a5d6a7;
    --p6_1: #80deea;
    --p7_1: #90caf9;
    --p8_1: #b39ddb;
    --p9_1: #ce93d8;
}

body
{
    font-family: 'Times New Roman', Times, serif;

    margin-left: 20px;

    color: antiquewhite;
    background-color: #263238;
}

/* #title
{
    border: solid 3px antiquewhite;
    border-bottom: 0px;
    font-weight: normal;
    padding: 5px 10px;
    width: 200px;
    text-align: center;
    margin-bottom: 0px;
} */

table
{
    width: 1350px;

    table-layout: fixed;
    border-collapse: collapse;

    border: solid 3px antiquewhite;
}

th,
td
{
    padding: 15px 3px;

    cursor: pointer;
    text-align: center;

    border: solid 1px antiquewhite;
}

.Symbol
{
    font-size: 16pt;
}

.AtomicNumber
{
    font-size: 9pt;
}

.Element
{
    font-size: 8pt;
}

tr :hover
{
    background-color: #37474f;
    /* color: aquamarine; */
}

.splash_0[data-y='1']
{
    color: var(--p1);
    border-color: var(--p1);
}
.splash_0[data-y='2']
{
    color: var(--p2);
    border-color: var(--p2);
}
.splash_0[data-y='3']
{
    color: var(--p3);
    border-color: var(--p3);
}
.splash_0[data-y='4']
{
    color: var(--p4);
    border-color: var(--p4);
}
.splash_0[data-y='5']
{
    color: var(--p5);
    border-color: var(--p5);
}
.splash_0[data-y='6']
{
    color: var(--p6);
    border-color: var(--p6);
}
.splash_0[data-y='7']
{
    color: var(--p7);
    border-color: var(--p7);
}
.splash_0[data-y='8']
{
    color: var(--p8);
    border-color: var(--p8);
}
.splash_0[data-y='9']
{
    color: var(--p9);
    border-color: var(--p9);
}

.splash_1[data-y='1']
{
    color: var(--p1_1);
    border-color: var(--p1_1);
}
.splash_1[data-y='2']
{
    color: var(--p2_1);
    border-color: var(--p2_1);
}
.splash_1[data-y='3']
{
    color: var(--p3_1);
    border-color: var(--p3_1);
}
.splash_1[data-y='4']
{
    color: var(--p4_1);
    border-color: var(--p4_1);
}
.splash_1[data-y='5']
{
    color: var(--p5_1);
    border-color: var(--p5_1);
}
.splash_1[data-y='6']
{
    color: var(--p6_1);
    border-color: var(--p6_1);
}
.splash_1[data-y='7']
{
    color: var(--p7_1);
    border-color: var(--p7_1);
}
.splash_1[data-y='8']
{
    color: var(--p8_1);
    border-color: var(--p8_1);
}
.splash_1[data-y='9']
{
    color: var(--p9_1);
    border-color: var(--p9_1);
}

/* 
.splash[data-Type='Nonmetal']
{
    color: #00bcd4;
    border-color: #00bcd4;
}

.splash[data-Type='Noble Gas']
{
    color: #e91e63;
    border-color: #e91e63;
}

.splash[data-Type='Alkali Metal']
{
    color: #ff5722;
    border-color: #ff5722;
}

.splash[data-Type='Alkaline Earth Metal']
{
    color: #ff9800;
    border-color: #ff9800;
}

.splash[data-Type='Metalloid']
{
    color: #009688;
    border-color: #009688;
}

.splash[data-Type='Halogen']
{
    color: #4caf50;
    border-color: #4caf50;
}

.splash[data-Type='Metal']
{
    color: #03a9f4;
    border-color: #03a9f4;
}

.splash[data-Type='Transition Metal']
{
    color: #ffeb3b;
    border-color: #ffeb3b;
}

.splash[data-Type='Transactinide']
{
    color: #cddc39;
    border-color: #cddc39;
}

.splash[data-Type='Lanthanide']
{
    color: #2196f3;
    border-color: #2196f3;
}

.splash[data-Type='Actinide']
{
    color: #3f51b5;
    border-color: #3f51b5;
} */

